{% extends 'base.html' %}

{% block content %}
<br>
<center>
<div class="index-content" style="margin-left: 13%; margin-right: 13%;">

<center>
<p>Ancom
<br>Biuro Handlowe i Serwis
<br>os. Kosmonautów 9
<br>61-627 Poznań</p>

<p>
    <br><a href="tel:+48698612479">698 612 479</a>
<br><a href="mailto:ancom@pro.onet.pl">ancom@pro.onet.pl</a>
    <br><a href="mailto:biuro@ancom.info.pl">biuro@ancom.info.pl</a>
</p>
</center><br>

            <p>
Wejście do lokalu od strony ul. Murawa.
                Przy budynku jest parking osiedlowy.
Wjazd na parking od ul. Murawa,
między blokiem nr 10 i 11.
</p>

    <br>

                <p height="100%"><div align="center"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=Ancom.+Sprzeda%C5%BC+kas+i+drukarek+fiskalnych.+Serwis+komputerowy.,+Pozna%C5%84&amp;aq=&amp;sll=52.446175,16.933365&amp;sspn=0.052837,0.154324&amp;ie=UTF8&amp;hq=Ancom.+Sprzeda%C5%BC+kas+i+drukarek+fiskalnych.+Serwis+komputerowy.,&amp;hnear=Pozna%C5%84,+wielkopolskie&amp;t=m&amp;ll=52.439324,16.94146&amp;spn=0.07249,0.035842&amp;output=embed"></iframe>
                    <div align="center"><br />
                          <small><a href="https://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=Ancom.+Sprzeda%C5%BC+kas+i+drukarek+fiskalnych.+Serwis+komputerowy.,+Pozna%C5%84&amp;aq=&amp;sll=52.446175,16.933365&amp;sspn=0.052837,0.154324&amp;ie=UTF8&amp;hq=Ancom.+Sprzeda%C5%BC+kas+i+drukarek+fiskalnych.+Serwis+komputerowy.,&amp;hnear=Pozna%C5%84,+wielkopolskie&amp;t=m&amp;ll=52.439324,16.94146&amp;spn=0.07249,0.035842" style="color:#0000FF;text-align:center;">Wyświetl większą mapę</a></small></div>
                </div></p>
    </div>
{% endblock %}